name: HACS Validation

on:
  pull_request:
  push:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  hacs-validation:
    runs-on: ubuntu-latest
    
    steps:
      # Download current repository code
      - name: Checkout code
        uses: actions/checkout@v6

      # Execute HACS validation
      - name: Run HACS validation
        uses: hacs/action@main
        with:
          category: integration